html, body {
	height: 100%;
	padding:0;
	margin:0;
}

body {
	font-family: Arial, sans-serif;
	background: #FFF;
}

h1, h2, h3, h4, h5, h6 { line-height:1.4em; color:#312214; font-weight: 300;}

ul {margin: 0.5em 0 1.2em 25px; padding:0; }
ul li {margin-bottom:5px; }
ul ul, ul ol, ol ul, ol ol {margin-bottom:0; margin-top:2px; margin-bottom:5px;}
ul li li, ol li li {}
ol ul, ul ul {}
ol {margin: 0em 0 1.2em 25px; padding:0}
ol li {margin-bottom:4px; }

ul.simple { padding:0; margin:0; list-style:none;}
ul.simple li {margin-bottom:7px;}

.clear {clear:both; font-size:1px; height:0px; line-height:0px; float:none !important; width:0px; }

.clearChlds {  *zoom: 1; }
  .clearChlds:before,
  .clearChlds:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearChlds:after {
    clear: both;
  }

.bold {font-weight:bold;}
.italic {font-style:italic;}

.no_mrg_top {margin-top:0 !important;}
.no_mrg_right {margin-right:0 !important;}
.no_mrg_bottom {margin-bottom:0 !important;}
.no_mrg_left {margin-left:0 !important;}

.no_pad_top {padding-top:0 !important;}
.no_pad_bottom { padding-bottom:0 !important;}

.fl_left {float:left;}
.fl_right {float:right;}

.rel { position:relative;}
.nobr { white-space:nowrap;}

.hidden { display:none}
.invisible { visibility:hidden; }

a { color: #006ba9; text-decoration: none;}
a:hover { color: #005688; text-decoration: none;}

a.dashed { text-decoration:none !important; border-bottom:1px dashed}
a.noOutline:active, a.noOutline:link, a.noOutline:focus, a.noOutline:hover { outline: none }

.ta-right { text-align: right;}

.winWidth { width: 980px; margin: 0 auto; position: relative; }

.btn {
  position: relative;
}

.btn-tp1 {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  display: inline-block;
  color: #FFF;
  font-size: 12px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.btn-tp1:hover {
  color: #FFF;
}

  .btn-tp1.green {
    background: url("../img/x.png") repeat-x 0 -63px;
  }
  .btn-tp1.green:hover {
    background-position:  0 -89px
  }
  .btn-tp1.gray {
    background: url("../img/x.png") repeat-x 0 -115px;
  }
  .btn-tp1.gray:hover {
    background-position: 0 -141px;
  }

.btn-tp2 {
  height: 27px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 0 10px;
  display: inline-block;
  color: #FFF;
  font-size: 11px;
  background: #000;
  letter-spacing: 1px;
  -webkit-box-shadow:  0px 1px 2px -1px rgba(0,0,0,0.37);
          box-shadow:  0px 1px 2px -1px rgba(0,0,0,0.37);
}
.btn-tp2:hover {
  color: #FFF;
}
  .btn-tp2.dark {
    border: 1px solid #000;
    background: url("../img/x.png") repeat-x 0 -228px;
  }
  .btn-tp2.dark:hover {
    background-position: 0 -258px;
  }
  .btn-tp2.light {
    border: 1px solid #d7d7d7;
    color: #4a4a4a;
    background: url("../img/x.png") repeat-x 0 -168px;
  }
  .btn-tp2.light:hover {
    background-position: 0 -198px;
  }

.btn.icon.btn-tp3 {
  cursor: pointer;
  padding: 0;
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url("../img/sprite.png") no-repeat 0px -46px;  
  position: relative;
}
.btn.btn-tp3:hover {
  background-position: -35px -46px;
}
.btn.icon.btn-tp3 i {
 left: 50%;
 margin-left: -8px;
}

  .btn.mail span.new {
    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: -5px;
    left: -5px;
    color: #FFF;
    -webkit-border-radius: 50%;
      border-radius: 50%; 
    -webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.5);
      box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.5);    
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #bf0707;
    background: -moz-linear-gradient(top, #bf0707 0%, #cd1515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf0707), color-stop(100%,#cd1515));
    background: -webkit-linear-gradient(top, #bf0707 0%,#cd1515 100%);
    background: -o-linear-gradient(top, #bf0707 0%,#cd1515 100%);
    background: -ms-linear-gradient(top, #bf0707 0%,#cd1515 100%);
    background: linear-gradient(to bottom, #bf0707 0%,#cd1515 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0707', endColorstr='#cd1515',GradientType=0 );    
  }

.btn.icon {
  padding-left: 30px;
  }

  .btn.icon i {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top:50%;
    margin-top: -8px;
    left: 7px;
    background: url("../img/sprite.png") no-repeat 100px 100px;     
  }

  .btn.login i {
    background-position: -250px 0; 
  }

  .btn.reg i {
    background-position: -266px 0; 
  }

  .btn.mail i {
    background-position: -266px -16px;
  }
  .btn.pref i {
    background-position: -250px -16px;
  }

.tltip { 
  position: absolute;
  display: none;
  background: #FFF;
  color: #747474;
  -webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);    
  -webkit-border-radius: 2px;
  border-radius: 2px; 
  }
  .tltip .in {
    font-size: 12px;
    color: #747474;
  }
  .tltip.arr-top::before {
    content: "";
    width: 31px;
    height: 18px;
    background: url("../img/sprite.png") no-repeat 0px -83px transparent;
    position: absolute;
    top: -18px;
    right: 13px;
  }
  .tt-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    width: 160px;
  }
  .tt-menu li {
    margin: 0;
    }
    .tt-menu a {
      font-size: 12px;
      line-height: 14px;
      display: block;
      color: #747474;
      text-decoration: none;
      padding: 4px 15px;
      border-top: 1px solid #efefef;
    }
    .tt-menu a:hover {
      background: #efefef;
      color: #464646;
    }
    .tt-menu li:first-child a { 
      border: 0;
      -webkit-border-radius: 2px 2px 0 0;
      border-radius: 2px 2px 0 0; 
    }
      .tt-menu li:last-child a { 
      border: 0;
      -webkit-border-radius: 0 0 2px 2px;
      border-radius: 0 0 2px 2px; 
      }


.item {
  display: table;
}
  .item .img {
    display: table-cell;
    vertical-align: top;
    height: inherit;    
  }
  .item .txt {
    display: table-cell;
    vertical-align: top;
    height: inherit;
  }
  .item .txt

  