
.feedback {
	position: fixed;
	right: 0;
	top:50%;
	margin-top: -46px;
	width: 27px;
	height: 92px;	
	-webkit-box-shadow:  -1px 0px 3px 0px rgba(0, 0, 0, 0.2);
  	box-shadow:  -1px 0px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.feedback a {
		display: block;
		width: 25px;
		height: 90px;
		border: 1px solid #d0d0d0;
		background: url("../img/x.png") repeat-x 0 -394px; 
	}
	.feedback a i {
		display: block;
		width: 9px;
		height: 73px;
		margin: 8px 0 0 8px;
		background: url("../img/eng.png") no-repeat 0 -0;
	}
	.feedback a:hover {
		background-position: 0 -487px;		
	}
	.feedback a:hover i {
		background-position: -9px 0;
	}
	.feedback.eng a i {
		background-image: url("../img/eng.png");		
	}


.footer {
	background: #272727;
	color: #FFF;
	font-size: 11px;
	padding-bottom: 45px;
	}
	.footer .col-1,
	.footer .col-2 {
		padding: 37px 0 0 16px;
		width: 146px;
	}

	.footer a {
		color: #72cbec;
		text-decoration: none;
	}
	.footer a:hover {
		color: #72cbec;
		text-decoration: underline;
	}
	.footer h4 {
		font-size: 13px;
		color: #FFF;
		line-height: 14px;
		margin: 0 0 15px 0;  
	}
	.footer ul {
		padding: 0 0 0 12px;
		margin: 0;
		list-style: none;
	}
	.footer ul li {
		margin-bottom: 6px;
	}
	.footer .col-3 {
		text-align: right;
		width: 575px;
		}
		.footer .logo {
			display: inline-block;
			width: 129px;
			height: 19px;
			background: url("../img/sprite.png") no-repeat 0 -27px;
			margin: 26px 0 11px;
		}
		.footer .logo a {
			display: inline-block;
			width: 129px;
			height: 19px;
			background: url("../img/pixel.gif");
		}
		.footer .slogan {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			line-height: 1em;
		}
		.footer .about {
			line-height: 16px;
		}

.header {
	height: 62px;
	background: url("../img/x.png") repeat-x 0 0;
	position: relative;
	z-index: 20;
	}
	.header .box-l {
		padding-top: 18px;
		width: 671px;
		float: left;
		}
		.header .logo {
			background: url("../img/sprite.png") no-repeat 0 0;	
			width: 188px;
			height: 27px;
			display: inline-block;
			float: left;
		}
		.header .logo a {
			width: 188px;
			height: 27px;
			display: inline-block;
			background: url("../img/pixel.gif");
		}
		.header .box-l .btn-set {
			float: right;
		}
		.header .box-l .btn-set .btn {
			margin-right: 4px;
		}
	.header .box-r {
		float: right;
		}
		.header .box-r.login-box {
			padding-top: 16px;
		}
		.header .box-r.login-box .btn {
			margin-left: 4px;
		}

	.lk {
		background: url("../img/bg-light.png") 0 0;
		height: 62px;
		}
		.lk .info {
			float: left;
			border-left: 1px solid #d6d6d6;
			height: 43px;
			padding: 10px 35px 9px 10px;
			}

			.lk .photo { 
				display:  inline-block;
				vertical-align: middle;
				margin-right: 8px;
			}

		.lk .name-box { 
			display:  inline-block;
			color: #2c2c2c;
			vertical-align: middle;
		}
		.lk .name-box p { 
			font-size: 10px;
			line-height: 11px;
			font-style: italic;
			margin: 0 0 -4px 0;
		}
		.lk .name-box span {
			font-size: 11px;
			line-height: 14px;
		}

		.lk .btn-set {
			float: left;
			width: 98px;
			height: 49px;
			border: 1px solid #d6d6d6;
			border-width: 0 1px 0 1px;
			padding-top: 13px;
			text-align: center;			
		}
		.lk .btn-set .btn {
			margin: 0 1px;
		}

		.lk .btn .tltip {
			top: 51px;
			right: -13px;
		}


.new-msgs {
	padding: 6px 6px;
	max-height: 236px;
	/*overflow:auto;*/
	overflow: hidden;
	}
	.new-msgs .item {
		width: 189px;
		border: 1px solid #e8e8e8;
		padding: 3px;
		height: 48px;
		text-align: left;
		margin: 4px 0;
		-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		}
		.new-msgs .item:first-child {
			margin-top: 0;
		}
		.new-msgs .item:last-child {
			margin-bottom: 0;
		}
		.new-msgs .item .img {
			width: 55px;
			height: 48px;
		}
		.new-msgs .item .img img {
			width: 48px;
			height: 48px;
		}
	.new-msgs .item:hover {
		border: 2px solid #999999;
		padding: 2px;
	}
	.new-msgs .name {
		font-size: 13px;
		line-height: 14px;
		color: #505050;
		padding-top: 6px;
	}
	.new-msgs .date {
		padding-top: 4px;
		font-size: 9px;
		line-height: 14px;
		color: #4e4e4e;
		}
		.new-msgs .date .br {
		}
		.new-msgs .date .time {
			padding-left: 10px;
		}

.nav {}
	.nav { 
		padding: 8px 0 8px;
		height: 25px;
		}
		.nav .search-box {
			float: left;			
			position: relative;
			}
			.nav .search-field {
				font-size: 13px;				
				color: #5d5d5d;
				font-style: normal;
				border: 1px solid #ffffff;
				padding: 0 35px 0 10px;
				height: 23px;
				line-height: 23px;
				background: url("../img/x.png") repeat-x 0 -201px;
				width: 165px;
			}
			.nav .search-field:focus {
				/*background-position: 0 -171px;				*/
				/*border-color: #04b7be;*/
				/*border-color: #a4fcff;*/				
			}
			.search-field::-webkit-input-placeholder {
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.search-field:-moz-placeholder {
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.search-field::-moz-placeholder {
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.search-field:-ms-input-placeholder { 
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.nav .search-btn {
				position: absolute;
				top: 2px;
				right: 2px;
				width: 23px;
				height: 21px;
				border: 0;
				border-left: 1px solid #d4d4d4;
				padding: 0;
				background: url("../img/sprite.png") no-repeat -226px 2px;
			}
		.nav .btn-set {
			float: right
			}
			.nav .btn-set .btn {
				margin-left: 6px;
			}		

.page-content {
	position: relative;
}
.page-content .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 223px;
	background: url("../img/bg-color.jpg") center top no-repeat,
				url("../img/bg-dark.png") 0 0 repeat;
}
.page-content.home {
	padding-bottom: 10px;
}
.page-content.home .bg {
	height: 455px;
}

.content-box {
	position: relative;	
	padding-top: 0px;
	padding-bottom: 30px;
	}
	.content-box .inner {
		background: white;
		padding: 10px;
		-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 3px;
		border-radius: 3px; 
		color: #171717;
		font-size: 12px;
		line-height: 16px;
	}

.home-top {
	padding: 4px 0;
	margin-bottom: 38px;
	}
	.home-top .slider.sl-top {
		margin: 0 4px;
		width: 681px;
		height: 386px;
		overflow: hidden;
		-webkit-border-radius: 3px;
				border-radius: 3px;
		float: left; 
	}
	.home-top .events {
		float: right;
		width: 279px;
		margin-right: 8px;
		padding: 2px 0 0 4px;
	}
	.home-top .events .title {
		display: table;
		width: 279px;
		height: 41px;
		}
		.home-top .events h3 {
			display: table-cell;
			font-size: 11px;
			line-height: 30px;
			margin: 0;
			padding: 0 0 0 7px;
			color: #3a3a3a;
			text-transform: uppercase;
			width: 100%;
		}
		.home-top .events .bn {
			display: table-cell;
			padding-right: 2px;
		}

		.home-top .events .list {
			height: 343px;
		}

		.events .events-item {
			width: 267px;
			background: white;
			margin-top: 5px;
			border: 1px solid #e8e8e8;
			-webkit-border-radius: 3px;
					border-radius: 3px;	
			-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);		
		}
		.events .events-item:first-child {
			margin-top: 0;
		}
		.events .events-item .img {
			padding: 5px 10px 5px 5px;
			width: 70px;
			}
			.events .events-item .img img {
				-webkit-border-radius: 3px;
				border-radius: 3px;
				width: 70px;
				height: 70px;
				border: 1px solid #d5d5d5;
			}
		.events .events-item.now {
			border-color: #e61e0f;
		}
		.events .events-item .txt {
			padding: 7px 6px 5px 0;
		}
			.events .events-item .name {
				font-size: 12px;
				line-height: 13px;
				padding-bottom: 4px;
				min-height: 40px;
			}
			.events .events-item .author {
				color: #808080;
				font-size: 10px;
				line-height: 12px;
				margin: 2px 0 0;
			}
			.events .events-item .date {
				border: 1px solid #f1f1f1;
				border-width: 1px 0 1px 0;
				padding: 7px 0 3px;
				font-size: 11px;
				color: #4e4e4e;
				display: table;
				width: 100%;
			}
			.events .events-item .date .y {
				display: table-cell;
				padding-left: 5px;
			}
			.events .events-item .date .t {
				display: table-cell;
				padding-right: 5px;
				text-align: right;
			}
			.events .events-item .date span {
				display: inline-block;
				vertical-align: top;
				line-height: 11px;
			}
			.events .events-item .date i { 
				display: inline-block;
				height: 11px;
				width: 11px;
				background: url("../img/sprite.png") no-repeat 100px 100px transparent;
				opacity: 0.4;
				margin-right: 5px;
				vertical-align: top;
				position: relative;
			}
			.events .events-item .date .y i {
				background-position: -285px -3px;					
			}
			.events .events-item .date .t i {
				background-position: -285px -18px;				
				top:-1px;
			}
			.events .events-item.now .time {
				color: #e61e0f;
				font-size: 9px;
				text-transform: uppercase;
			}
	.events .events-item:hover {
		border: 2px solid #999999;
		width: 265px;
		cursor: pointer;
	}
	.events .events-item:hover .img {
		padding: 4px 10px 4px 4px;
	}
	.events .events-item:hover .txt {
		padding: 6px 5px 4px 0;
	}

	.events .events-item.now:hover {
		border-color: #E61E0F;
	}

.suggested-ch {
	margin-bottom: 18px;
	}
	.suggested-ch .title {}
	.slider.sugg-slider {
		padding: 0 30px;
		margin: 13px 0 3px;
	}
	.item.sugg-item {
		text-align: center;
		display: inline-block;
		width: 98px;
		vertical-align: top;
		}
		.item.sugg-item .img {
			display: block;
		}
			.item.sugg-item .img img {
				margin: 0 auto;
				width: 70px;
				height: 70px;
				border: 1px solid #d5d5d5;
				  -webkit-border-radius: 3px;
				  border-radius: 3px; 			
			}
			.item.sugg-item:hover .img img {
				border-color: #999;
			}
		.item.sugg-item .txt {
			display: block;
			font-size: 11px;
			line-height: 14px;			
		}
		.item.sugg-item .txt a {
			display: inline-block;
			color: #545454;
			padding: 9px 0;
		}
		.item.sugg-item:hover .txt a {
			color: #222;			
		}

.b-cst {
	margin-bottom: 18px;
	}
	.b-cst .list {
		padding: 0 13px;
	}
	.b-cst .b-cst-item {
		display: inline-block;
	}
		.b-cst .item.b-cst-item {
			width: 161px;
			background: white;
			margin: 15px 12px 19px 12px;
			border: 1px solid #e8e8e8;
			-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);		
		}
		.b-cst .b-cst-item .img {
			display: block;
			padding: 4px 4px 0px 4px;
			width: 153px;
			}
			.b-cst .b-cst-item .img img {
				width: 153px;
				height: 153px;
			}
		.b-cst .b-cst-item .txt {
			display: block;			
		}
			.b-cst .b-cst-item .name {
				font-size: 12px;
				line-height: 14px;
				padding: 6px 12px 6px 12px;
				height: 40px;
				position: relative;
			}
			.b-cst .b-cst-item .name > a {
				display: inline-block;
				height: 28px;
				width: 137px;
				overflow: hidden;
				position: relative;
			}
			.b-cst .b-cst-item .author {
				color: #808080;
				font-size: 10px;
				line-height: 12px;
				margin: -2px 0 0;
			}
			.b-cst .b-cst-item .date {
				font-size: 11px;
				color: #4e4e4e;
				width: 100%;
			}
			.b-cst .b-cst-item .date .y {
				padding: 7px 12px 3px 12px;
				border: 1px solid #f1f1f1;
				border-width: 1px 0 1px 0;
			}
			.b-cst .b-cst-item .date .t {
				padding: 6px 12px 3px 12px;
			}
			.b-cst .b-cst-item .date span {
				display: inline-block;
				vertical-align: top;
				line-height: 11px;
			}
			.b-cst .b-cst-item .date i { 
				display: inline-block;
				height: 11px;
				width: 11px;
				background: url("../img/sprite.png") no-repeat 100px 100px transparent;
				opacity: 0.4;
				margin-right: 5px;
				vertical-align: top;
				position: relative;
			}
			.b-cst .b-cst-item .date .y i {
				background-position: -285px -3px;					
			}
			.b-cst .b-cst-item .date .t i {
				background-position: -285px -18px;				
				top:-1px;
			}
	.b-cst .b-cst-item:hover {
		border: 2px solid #999999;		
		cursor: pointer;
		width: 159px;
	}
	.b-cst .b-cst-item:hover .img {
		padding: 3px 3px 0 3px;    	
	}
	.b-cst .b-cst-item:hover .name,
	.b-cst .b-cst-item:hover .date .y,
	.b-cst .b-cst-item:hover .date .t {
		padding-left: 11px;
		padding-right: 11px;
	}
	.b-cst .b-cst-item:hover .date .t {
		padding-bottom: 2px;
	}