
.footer {
	background: #272727;
	color: #FFF;
	font-size: 11px;
	padding-bottom: 45px;
	}
	.footer .col-1,
	.footer .col-2 {
		padding: 37px 0 0 16px;
		width: 146px;
	}

	.footer a {
		color: #72cbec;
		text-decoration: none;
	}
	.footer a:hover {
		color: #72cbec;
		text-decoration: underline;
	}
	.footer h4 {
		font-size: 13px;
		color: #FFF;
		line-height: 14px;
		margin: 0 0 15px 0;  
	}
	.footer ul {
		padding: 0 0 0 12px;
		margin: 0;
		list-style: none;
	}
	.footer ul li {
		margin-bottom: 6px;
	}
	.footer .col-3 {
		text-align: right;
		width: 575px;
		}
		.footer .logo {
			display: inline-block;
			width: 129px;
			height: 19px;
			background: url("../img/sprite.png") no-repeat 0 -27px;
			margin: 26px 0 11px;
		}
		.footer .logo a {
			display: inline-block;
			width: 129px;
			height: 19px;
			background: url("../img/pixel.gif");
		}
		.footer .slogan {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			line-height: 1em;
		}
		.footer .about {
			line-height: 16px;
		}

.header {
	height: 62px;
	background: url("../img/x.png") repeat-x 0 0;
	position: relative;
	z-index: 20;
	}
	.header .box-l {
		padding-top: 18px;
		width: 671px;
		float: left;
		}
		.header .logo {
			background: url("../img/sprite.png") no-repeat 0 0;	
			width: 188px;
			height: 27px;
			display: inline-block;
			float: left;
		}
		.header .logo a {
			width: 188px;
			height: 27px;
			display: inline-block;
			background: url("../img/pixel.gif");
		}
		.header .box-l .btn-set {
			float: right;
		}
		.header .box-l .btn-set .btn {
			margin-right: 4px;
		}
	.header .box-r {
		float: right;
		}
		.header .box-r.login-box {
			padding-top: 16px;
		}
		.header .box-r.login-box .btn {
			margin-left: 4px;
		}

	.lk {
		background: url("../img/bg-light.png") 0 0;
		height: 62px;
		}
		.lk .info {
			float: left;
			border-left: 1px solid #d6d6d6;
			height: 43px;
			padding: 10px 35px 9px 10px;
			}

			.lk .photo { 
				display:  inline-block;
				vertical-align: middle;
				margin-right: 8px;
			}

		.lk .name-box { 
			display:  inline-block;
			color: #2c2c2c;
			vertical-align: middle;
		}
		.lk .name-box p { 
			font-size: 10px;
			line-height: 11px;
			font-style: italic;
			margin: 0 0 -4px 0;
		}
		.lk .name-box span {
			font-size: 11px;
			line-height: 14px;
		}

		.lk .btn-set {
			float: left;
			width: 98px;
			height: 49px;
			border: 1px solid #d6d6d6;
			border-width: 0 1px 0 1px;
			padding-top: 13px;
			text-align: center;			
		}
		.lk .btn-set .btn {
			margin: 0 1px;
		}

		.lk .btn .tltip {
			top: 51px;
			right: -13px;
		}

.page-content {
	position: relative;
}
.page-content .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 223px;
	background: url("../img/bg-color.jpg") center top no-repeat,
				url("../img/bg-dark.png") 0 0 repeat;
}
.page-content.home .bg {
	height: 455px;
}

.content-box {
	position: relative;	
	padding-top: 41px;
	padding-bottom: 30px;
	}
	.content-box .inner {
		background: white;
		padding: 10px;
		-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 2px;
		border-radius: 2px; 
		color: #171717;
		font-size: 12px;
		line-height: 16px;
	}



.new-msgs {
	padding: 6px 6px;
	max-height:250px;
	/*overflow:auto;*/
	overflow: hidden;
	}
	.new-msgs .item {
		width: 189px;
		border: 1px solid #e8e8e8;
		padding: 3px;
		height: 48px;
		text-align: left;
		margin: 4px 0;
		-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		}
		.new-msgs .item:first-child {
			margin-top: 0;
		}
		.new-msgs .item:last-child {
			margin-bottom: 0;
		}
		.new-msgs .item .img {
			width: 55px;
			height: 48px;
		}
		.new-msgs .item .img img {
			width: 48px;
			height: 48px;
		}
	.new-msgs .item:hover {
		border: 2px solid #999999;
		padding: 2px;
	}
	.new-msgs .name {
		font-size: 13px;
		line-height: 14px;
		color: #505050;
		padding-top: 6px;
	}
	.new-msgs .date {
		padding-top: 4px;
		font-size: 9px;
		line-height: 14px;
		color: #4e4e4e;
		}
		.new-msgs .date .br {
		}
		.new-msgs .date .time {
			padding-left: 10px;
		}