
/* forms */
.reg-form {
	width: 347px;
	padding: 27px 91px 33px;
	background: #FFF;
	font-size: 13px;
}
	.reg-form h3 {
		font-size: 24px;
		line-height: 30px;
		color: #171717;
		margin: 0 0 30px 0;
	}
	.reg-form p {
		margin: 0 0 12px 0;
	}
	.reg-form p.pwd {
		margin-top: 42px;
	}

	.reg-form label {
		font-size: 13px;
		line-height: 16px;
		display: block;
		color: #090909;
		margin-bottom: 6px;
	}
	.reg-form input.custom {
		width: 325px;		
	}
	.reg-form p.submit {
		margin-top: 28px;
		margin-bottom: 0;
		}
		.reg-form .submit .btn { padding: 0 20px; }
	
	.reg-form .errors {
		color: #e61e0f;
		font-size: 11px;
		line-height: 13px;
		margin-bottom: -16px;
		}
		.reg-form .errors p {
			margin-bottom: 5px;
		}

.login-form { 
	position: relative;
	padding: 24px 15px 13px 15px;
	}
	.login-form p {
		font-size: 13px;
		line-height: 16px;
		color: #090909;
		margin:0 0 7px 0;		
	}
	.login-form label {
		display: block;
		margin-bottom: 6px;
	}
	.login-form input.custom {
		width: 195px;
	}
	.login-form .errors {
		padding-bottom: 2px;
	}
	.login-form .errors p {
		font-size: 11px; 
		line-height: 12px;
		color: #e61e0f;
		margin-bottom: 6px;
	}
	.login-form .clearChlds {
		width: 217px;	
		}
		.login-form .remember {
			display: table-cell;
			width: 100%;
			padding-top: 5px;
			}
			.login-form .remember input {
				position: relative;
				top: 2px;
			}
			.login-form .remember label {
				display: inline-block;
				color: #090909;
				font-size: 11px;
				line-height: 16px;
				padding-left: 5px;
			}
		.login-form .submit {
			display: table-cell;
			text-align: right;
			padding-top: 5px;
			}
			.login-form .submit .btn {
				padding: 0 20px;
			}


.start-bc-form {
	width: 602px;
	padding: 17px;
	background: #FFF;
	font-size: 13px;
	}
	.start-bc-form .bc-name {
		display: table;		
		width: 100%;
		margin-bottom: 10px;
	}
	.start-bc-form .bc-name .txt {
		padding-top: 16px;
		display: table-cell;
		vertical-align: top;		
		}
		.start-bc-form h3 {
			font-size: 24px;
			line-height: 30px;
			color: #171717;
			margin: 0 0 4px 0;
		}
		.start-bc-form .bc-name p {
			font-size: 12px;
			font-weight: bold;
			margin: 0;
		}
	.start-bc-form .bc-name .img {
		width: 79px;
		padding-left: 20px;
		display: table-cell;
		vertical-align: top;		
	}

	.start-bc-form p.submit {
		margin-top: 17px;
		margin-bottom: 0;
		}
		.start-bc-form .submit .btn { padding: 0 20px; }

	#f-bcst { width: 238px; margin-right: 6px;}
	#f-category {width: 131px; margin-right: 6px;}
	#f-upload { width: 117px;}

	.start-bc-form .tbl {
		display: table;
		margin-top: 22px;
		margin-bottom: 18px;
	}
	.start-bc-form .tbl > div {
		display: table-row;
	}
	.start-bc-form .tbl > div > div {
		display: table-cell;
	}

	.start-bc-form .tbl label {
		margin-bottom: 5px;
		color: #090909;
	    display: block;
	    font-size: 13px;
	    line-height: 16px;
	    margin-bottom: 6px;
	}

	.start-bc-form .t-name { width: 217px; padding-right: 11px;}
	#f-name { width: 195px;}

	.start-bc-form .t-date { width: 127px; padding-right: 11px;}
	#f-date { width: 95px;}

	.start-bc-form .t-time { width: 84px; padding-right: 11px;}
	#f-time { width: 52px; }

	.start-bc-form .t-privacy { width: 113px; }
	#f-privacy { width: 111px; }

	.start-bc-form .add {
		position: relative;
		padding-left: 10px;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 17px;
	}
	.start-bc-form .add::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 3px;
		width: 5px;
		height: 6px;
		background: url("../img/sprite.png") no-repeat 100px 100px;
	}
	.start-bc-form .add.closed::before {
		background-position: -193px -46px;
		
	}
	.start-bc-form .add.opened::before {
		background-position: -204px -46px;
	}

	.start-bc-form .add-descr-box { 
		padding-top: 15px;
	}
	.start-bc-form .add-descr-box .h {
		margin-bottom: 15px;
	}
	.start-bc-form .add-descr-box label {
		color: #090909;
	    font-size: 13px;
	    line-height: 16px;
	    margin-right: 6px;
	}
	#f-dscr-category { width: 170px; }
	#f-bc-descr {
		width: 580px;
		height: 48px;
	}


/* // forms */

.feedback {
	position: fixed;
	right: 0;
	top:50%;
	margin-top: -46px;
	width: 27px;
	height: 92px;	
	-webkit-box-shadow:  -1px 0px 3px 0px rgba(0, 0, 0, 0.2);
  	box-shadow:  -1px 0px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.feedback a {
		display: block;
		width: 25px;
		height: 90px;
		border: 1px solid #d0d0d0;
		background: url("../img/x.png") repeat-x 0 -394px; 
	}
	.feedback a i {
		display: block;
		width: 9px;
		height: 73px;
		margin: 8px 0 0 8px;
		background: url("../img/eng.png") no-repeat 0 -0;
	}
	.feedback a:hover {
		background-position: 0 -487px;		
	}
	.feedback a:hover i {
		background-position: -9px 0;
	}
	.feedback.eng a i {
		background-image: url("../img/eng.png");		
	}


.footer {
	background: #272727;
	color: #FFF;
	font-size: 11px;
	padding-bottom: 45px;
	}
	.footer .col-1,
	.footer .col-2 {
		padding: 37px 0 0 16px;
		width: 146px;
	}

	.footer a {
		color: #72cbec;
		text-decoration: none;
	}
	.footer a:hover {
		color: #72cbec;
		text-decoration: underline;
	}
	.footer h4 {
		font-size: 13px;
		color: #FFF;
		line-height: 14px;
		margin: 0 0 15px 0;  
	}
	.footer ul {
		padding: 0 0 0 12px;
		margin: 0;
		list-style: none;
	}
	.footer ul li {
		margin-bottom: 6px;
	}
	.footer .col-3 {
		text-align: right;
		width: 575px;
		}
		.footer .logo {
			display: inline-block;
			width: 129px;
			height: 19px;
			background: url("../img/sprite.png") no-repeat 0 -27px;
			margin: 26px 0 11px;
		}
		.footer .logo a {
			display: inline-block;
			width: 129px;
			height: 19px;
			background: url("../img/pixel.gif");
		}
		.footer .slogan {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			line-height: 1em;
		}
		.footer .about {
			line-height: 16px;
		}

.header {
	height: 62px;
	background: url("../img/x.png") repeat-x 0 0;
	position: relative;
	z-index: 20;
	}
	.header .box-l {
		padding-top: 18px;
		width: 671px;
		float: left;
		}
		.header .logo {
			background: url("../img/sprite.png") no-repeat 0 0;	
			width: 188px;
			height: 27px;
			display: inline-block;
			float: left;
		}
		.header .logo a {
			width: 188px;
			height: 27px;
			display: inline-block;
			background: url("../img/pixel.gif");
		}
		.header .box-l .btn-set {
			float: right;
		}
		.header .box-l .btn-set .btn {
			margin-right: 4px;
		}
	.header .box-r {
		float: right;
		}
		.header .box-r.login-box {
			padding-top: 16px;
		}
		.header .box-r.login-box .btn {
			margin-left: 4px;
			outline: none !important;
		}
		.header .box-r.login-box .lb {
			position: relative;
			display: inline-block;
		}
		.header .box-r.login-box .lb .tltip {
			top: 41px;
			right: 4px;
		}
		.header .box-r.login-box .lb .tltip::before {
			width: 87px;
			right: -12px;
			background-position: 25px -83px;			
		}

	.lk {
		background: url("../img/bg-light.png") 0 0;
		height: 62px;
		}
		.lk .info {
			float: left;
			border-left: 1px solid #d6d6d6;
			height: 43px;
			padding: 10px 35px 9px 10px;
			}

			.lk .photo { 
				display:  inline-block;
				vertical-align: middle;
				margin-right: 8px;
			}

		.lk .name-box { 
			display:  inline-block;
			color: #2c2c2c;
			vertical-align: middle;
		}
		.lk .name-box p { 
			font-size: 10px;
			line-height: 11px;
			font-style: italic;
			margin: 0 0 -4px 0;
		}
		.lk .name-box span {
			font-size: 11px;
			line-height: 14px;
		}

		.lk .btn-set {
			float: left;
			width: 98px;
			height: 49px;
			border: 1px solid #d6d6d6;
			border-width: 0 1px 0 1px;
			padding-top: 13px;
			text-align: center;			
		}
		.lk .btn-set .btn {
			margin: 0 1px;
		}

		.lk .btn .tltip {
			top: 51px;
			right: -13px;
		}


.new-msgs {
	padding: 6px 6px;
	max-height: 236px;
	/*overflow:auto;*/
	overflow: hidden;
	}
	.new-msgs .item {
		width: 189px;
		border: 1px solid #e8e8e8;
		padding: 3px;
		height: 48px;
		text-align: left;
		margin: 4px 0;
		-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		}
		.new-msgs .item:first-child {
			margin-top: 0;
		}
		.new-msgs .item:last-child {
			margin-bottom: 0;
		}
		.new-msgs .item .img {
			width: 55px;
			height: 48px;
		}
		.new-msgs .item .img img {
			width: 48px;
			height: 48px;
		}
	.new-msgs .item:hover {
		border: 2px solid #999999;
		padding: 2px;
	}
	.new-msgs .name {
		font-size: 13px;
		line-height: 14px;
		color: #505050;
		padding-top: 6px;
	}
	.new-msgs .date {
		padding-top: 4px;
		font-size: 9px;
		line-height: 14px;
		color: #4e4e4e;
		}
		.new-msgs .date .br {
		}
		.new-msgs .date .time {
			padding-left: 10px;
		}

.nav {}
	.nav { 
		padding: 8px 0 8px;
		height: 25px;
		}
		.nav .search-box {
			float: left;			
			position: relative;
			}
			.nav .search-field {
				font-size: 13px;				
				color: #5d5d5d;
				font-style: normal;
				border: 1px solid #ffffff;
				padding: 0 35px 0 10px;
				height: 23px;
				line-height: 23px;
				background: url("../img/x.png") repeat-x 0 -201px;
				width: 165px;
			}
			.nav .search-field:focus {
				/*background-position: 0 -171px;				*/
				/*border-color: #04b7be;*/
				/*border-color: #a4fcff;*/				
			}
			.search-field::-webkit-input-placeholder {
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.search-field:-moz-placeholder {
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.search-field::-moz-placeholder {
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.search-field:-ms-input-placeholder { 
			    color: #5d5d5d;
			    font-style: italic;
			    opacity: 1;
			}
			.nav .search-btn {
				position: absolute;
				top: 2px;
				right: 2px;
				width: 23px;
				height: 21px;
				border: 0;
				border-left: 1px solid #d4d4d4;
				padding: 0;
				background: url("../img/sprite.png") no-repeat -226px 2px;
			}
		.nav .btn-set {
			float: right
			}
			.nav .btn-set .btn {
				margin-left: 6px;
			}		

.page-content {
	position: relative;
}
.page-content .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 223px;
	background: url("../img/bg-color.jpg") center top no-repeat,
				url("../img/bg-dark.png") 0 0 repeat;
}
.page-content.home {
	padding-bottom: 10px;
}
.page-content.home .bg {
	height: 455px;
}

.content-box {
	position: relative;	
	padding-top: 0px;
	padding-bottom: 30px;
	}
	.content-box .inner {
		background: white;
		padding: 0;
		-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 3px;
		border-radius: 3px; 
		color: #171717;
		font-size: 12px;
		line-height: 16px;
	}
	.page-title {
		padding: 10px;
		}
		.page-title h1 {
			display: block;
			height: 45px;
			line-height: 45px;
			color: #FFF;
			font-size: 20px;
			letter-spacing: 1px;
			text-transform: uppercase;	
			background: url("../img/title.jpg") no-repeat 0 0;
			margin: 0;
			padding: 0 20px;
		}
		.channels-page .page-title h1 {
			background: url("../img/title-ch.jpg") no-repeat 0 0;
		}


.home-top {
	padding: 4px 0;
	margin-bottom: 38px;
	}
	.home-top .slider.sl-top {
		margin: 0 4px;
		width: 681px;
		height: 386px;
		overflow: hidden;
		-webkit-border-radius: 3px;
				border-radius: 3px;
		float: left; 
	}
	.home-top .events {
		float: right;
		width: 279px;
		margin-right: 8px;
		padding: 2px 0 0 4px;
	}
	.home-top .events .title {
		display: table;
		width: 279px;
		height: 41px;
		}
		.home-top .events h3 {
			font-weight: bold;
			display: table-cell;
			font-size: 11px;
			line-height: 30px;
			margin: 0;
			padding: 0 0 0 7px;
			color: #3a3a3a;
			text-transform: uppercase;
			width: 100%;
		}
		.home-top .events .bn {
			display: table-cell;
			padding-right: 2px;
		}

		.home-top .events .list {
			height: 343px;
		}

		.events .events-item {
			width: 267px;
			background: white;
			margin-top: 5px;
			border: 1px solid #e8e8e8;
			-webkit-border-radius: 3px;
					border-radius: 3px;	
			-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);		
		}
		.events .events-item:first-child {
			margin-top: 0;
		}
		.events .events-item .img {
			padding: 5px 10px 5px 5px;
			width: 70px;
			}
			.events .events-item .img img {
				-webkit-border-radius: 3px;
				border-radius: 3px;
				width: 70px;
				height: 70px;
				border: 1px solid #d5d5d5;
			}
		.events .events-item.now {
			border-color: #e61e0f;
		}
		.events .events-item .txt {
			padding: 7px 6px 5px 0;
		}
			.events .events-item .name {
				font-size: 12px;
				line-height: 13px;
				padding-bottom: 4px;
				min-height: 40px;
			}
			.events .events-item .author {
				color: #808080;
				font-size: 10px;
				line-height: 12px;
				margin: 2px 0 0;
			}
			.events .events-item .date {
				border: 1px solid #f1f1f1;
				border-width: 1px 0 1px 0;
				padding: 7px 0 3px;
				font-size: 11px;
				color: #4e4e4e;
				display: table;
				width: 100%;
			}
			.events .events-item .date .y {
				display: table-cell;
				padding-left: 5px;
			}
			.events .events-item .date .t {
				display: table-cell;
				padding-right: 5px;
				text-align: right;
			}
			.events .events-item .date span {
				display: inline-block;
				vertical-align: top;
				line-height: 11px;
			}
			.events .events-item .date i { 
				display: inline-block;
				height: 11px;
				width: 11px;
				background: url("../img/sprite.png") no-repeat 100px 100px transparent;
				opacity: 0.4;
				margin-right: 5px;
				vertical-align: top;
				position: relative;
			}
			.events .events-item .date .y i {
				background-position: -285px -3px;					
			}
			.events .events-item .date .t i {
				background-position: -285px -18px;				
				top:-1px;
			}
			.events .events-item.now .time {
				color: #e61e0f;
				font-size: 9px;
				text-transform: uppercase;
			}
	.events .events-item:hover {
		border: 2px solid #999999;
		width: 265px;
		cursor: pointer;
	}
	.events .events-item:hover .img {
		padding: 4px 10px 4px 4px;
	}
	.events .events-item:hover .txt {
		padding: 6px 5px 4px 0;
	}

	.events .events-item.now:hover {
		border-color: #E61E0F;
	}

.suggested-ch {
	margin-bottom: 18px;
	}
	.suggested-ch .title {}
	.slider.sugg-slider {
		padding: 0 30px;
		margin: 13px 0 3px;
	}
	.item.sugg-item {
		text-align: center;
		/*display: inline-block;*/
		/*width: 98px;*/
		vertical-align: top;
		}
		.item.sugg-item .img {
			display: block;
			height: 72px;
		}
			.item.sugg-item .img img {
				margin: 0 auto;
				width: 70px;
				height: 70px;
				border: 1px solid #d5d5d5;
				  -webkit-border-radius: 3px;
				  border-radius: 3px; 			
			}
			.item.sugg-item:hover .img img {
				border-color: #999;
			}
		.item.sugg-item .txt {
			display: block;
			height: 37px;
			font-size: 11px;
			line-height: 14px;			
			padding: 0 3px;
			overflow: hidden;
		}
		.item.sugg-item .txt a {
			display: inline-block;
			color: #545454;
			padding: 9px 0 0 0;
			height: 28px;
			overflow: hidden;
		}
		.item.sugg-item:hover .txt a {
			color: #222;			
		}

.b-cst {
	margin-bottom: 18px;
	}
	.b-cst .list {
		padding: 0 13px;
	}
	.b-cst .b-cst-item {
		display: inline-block;
		position: relative;
		vertical-align: top;
	}
	.b-cst .b-cst-item.live::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 46px;
		height: 46px;
		background: url("../img/eng.png") no-repeat -104px 0px transparent;
	}
	.b-cst .b-cst-item.live:hover::before {
		top:-1px;
		right: -1px;
	}
		.b-cst .item.b-cst-item {
			width: 161px;
			background: white;
			margin: 15px 12px 19px 12px;
			border: 1px solid #e8e8e8;
			-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	    	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);		
		}
		.b-cst .b-cst-item .img {
			display: block;
			padding: 4px 4px 0px 4px;
			width: 153px;
			}
			.b-cst .b-cst-item .img img {
				width: 153px;
				height: 153px;
			}
		.b-cst .b-cst-item .txt {
			display: block;			
		}
			.b-cst .b-cst-item .name {
				font-size: 12px;
				line-height: 14px;
				padding: 6px 12px 6px 12px;
				height: 40px;
				position: relative;
			}
			.b-cst .b-cst-item .name > a {
				display: inline-block;
				/*height: 28px;*/
				max-height: 28px;
				width: 137px;
				overflow: hidden;
				position: relative;
			}
			.b-cst .b-cst-item .author {
				color: #808080;
				font-size: 10px;
				line-height: 12px;
				margin: -2px 0 0;
			}
			.b-cst .b-cst-item .date {
				font-size: 11px;
				color: #4e4e4e;
				width: 100%;
				}
				.b-cst .b-cst-item .date .y {
					padding: 7px 12px 3px 12px;
					border: 1px solid #f1f1f1;
					border-width: 1px 0 1px 0;
				}
				.b-cst .b-cst-item .date .t {
					padding: 6px 12px 3px 12px;
				}
				.b-cst .b-cst-item .date span {
					display: inline-block;
					vertical-align: top;
					line-height: 11px;
				}
				.b-cst .b-cst-item .date i { 
					display: inline-block;
					height: 11px;
					width: 11px;
					background: url("../img/sprite.png") no-repeat 100px 100px transparent;
					opacity: 0.4;
					margin-right: 5px;
					vertical-align: top;
					position: relative;
				}
				.b-cst .b-cst-item .date .y i {
					background-position: -285px -3px;					
				}
				.b-cst .b-cst-item .date .t i {
					background-position: -285px -18px;				
					top:-1px;
				}
			.b-cst .b-cst-item .date.arch {
				color: #808080;
				font-size: 10px;
				line-height: 14px;
				padding: 12px 12px 0 12px;
				height: 41px;
				}
				.b-cst .b-cst-item .date.arch span {
					display: inline-block;
				}
				.b-cst .b-cst-item .date.arch .ar {
					color: #FFF;
					background: #3a3a3a;					
					padding: 1px 3px;
					text-transform: uppercase;
				}
	.b-cst .b-cst-item:hover {
		border: 2px solid #999999;		
		cursor: pointer;
		width: 159px;
	}
	.b-cst .b-cst-item:hover .img {
		padding: 3px 3px 0 3px;    	
	}
	.b-cst .b-cst-item:hover .name,
	.b-cst .b-cst-item:hover .date .y,
	.b-cst .b-cst-item:hover .date .t,
	.b-cst .b-cst-item:hover .date.arch {
		padding-left: 11px;
		padding-right: 11px;
	}
	.b-cst .b-cst-item:hover .date .t {
		padding-bottom: 2px;
	}
	.b-cst .b-cst-item:hover .date.arch {
		height: 40px;
	}


#tab_members { display: none;}
#tab_broadcasts { display: none;}
/*#tab_feed { display: none;}*/

.bottom-content.b-cst {
	margin-bottom: 0;
	}
	.bottom-content.b-cst .item.b-cst-item {
		margin-top:0;
		margin-bottom: 23px;
	}

	.ch-top {
		display: table;
		margin-top: 10px;
		margin-bottom: 28px;
		position: relative;
		}
		.ch-top .cover {
			display: table-cell;
			vertical-align: top;
			width: 230px;
			padding: 0 0 0 10px;
			position: relative;
			}
			.ch-top .cover .play {
				cursor: pointer;
				position: absolute;
				top:79px;
				left: 89px;
				background: #000;
				background: rgba(0,0,0,0.37);
				width: 69px;
				height: 69px;
				padding: 2px;
				-webkit-border-radius: 50%;
  						border-radius: 50%; 
					-webkit-transition: all 150ms ease-in-out;
					-moz-transition: all 150ms ease-in-out;
					-ms-transition: all 150ms ease-in-out;
					-o-transition: all 150ms ease-in-out;
					transition: all 150ms ease-in-out;  						
					}
					.ch-top .cover .play i {
						display: block;
						width: 69px;
						height: 69px;
						background: url("../img/sprite.png") no-repeat -298px -46px transparent;
						opacity: 0.8;
						-webkit-transition: all 150ms ease-in-out;
						-moz-transition: all 150ms ease-in-out;
						-ms-transition: all 150ms ease-in-out;
						-o-transition: all 150ms ease-in-out;
						transition: all 150ms ease-in-out;
					}
			.ch-top .cover .play:hover {
				background: rgba(0,0,0,0.7);
				-webkit-transition: all 150ms ease-in-out;
				-moz-transition: all 150ms ease-in-out;
				-ms-transition: all 150ms ease-in-out;
				-o-transition: all 150ms ease-in-out;
				transition: all 150ms ease-in-out;
				}
				.ch-top .cover .play:hover i {
					opacity: 1;
					-webkit-transition: all 150ms ease-in-out;
					-moz-transition: all 150ms ease-in-out;
					-ms-transition: all 150ms ease-in-out;
					-o-transition: all 150ms ease-in-out;
					transition: all 150ms ease-in-out;
				}
			.ch-top .cover .change {
				position: absolute;
				top:177px;
				left: 10px;
				display: none;
			}
			.ch-top .cover .change a {
				display: block;				
				height: 26px;
				line-height: 26px;
				color: #323232;
				padding: 0 12px;
				background: url("../img/x.png") repeat-x 0 -1190px; 
			}
			.ch-top .cover.pic a.vid,
			.ch-top .cover.vid a.pic {
				display: none !important;
			}
			.ch-top .cover:hover .change {
				display: block;
			}
		.ch-top .description {
			display: table-cell;
			vertical-align: top;
			width: 710px;
			padding: 0 10px 0 20px;
			}
			.ch-top .ch-titile {
				position: relative;
				border-bottom: 1px solid #cccccc;
				padding-bottom: 5px;
				padding-top: 5px;
				}
				.ch-top .ch-titile h2 {
					margin: 0;
					font-size: 24px;
					line-height: 30px;
					display: block;
					/* first line right padding */
					direction:rtl;
					text-indent:240px;
					text-align:left;
				}
				.ch-top .ch-titile .stat {
					position: absolute;
					right: 0;
					top: 8px;
					}
					.ch-top .ch-titile .stat .btn {
						margin-left: 20px;
					}
					.ch-top .followers {
						position: relative;
						color: #323131;
						font-size: 11px;
						line-height: 14px;
					}
					.ch-top .followers i {
						position: relative;
						display: inline-block;
						width: 16px;
						height: 16px;
						background: url("../img/sprite.png") no-repeat -193px -16px;
						top:1px;
						margin-right: 3px;
					}
				.ch-top .ch-titile .info {
					font-size: 11px;
					color: #171717;
					}
					.ch-top .ch-titile .info .type {
						font-weight: bold;
						position: relative;
					}
					.ch-top .ch-titile .info .type.closed {
						padding-left: 16px;
					}
						.ch-top .ch-titile .info .type.closed::before {
							content: "";
							display: block;
							width: 16px;
							height: 16px;
							background: url("../img/sprite.png") no-repeat -177px -46px;
							position: absolute;
							left: -2px;
							top: -2px;
						}
					.ch-top .ch-titile .info .br {
						margin: 0 5px;
					}
			.ch-top .text {
				/*padding: 0 5px;*/
				padding-top: 15px;
				color: #171717;
				font-size: 12px;	
				line-height: 16px;
				}
				.ch-top .text p {
					margin: 0 0 15px 0;
				}
			.ch-top .controls {
				margin: 0 0 18px 0;
				font-size: 11px;
			}
			.ch-top .controls a.edit {
				color: #505050;
				position: relative;
				opacity: 0.7;
				}
				.ch-top .controls a.edit i {
					background: url("../img/sprite.png") no-repeat -196px -36px;
					display: inline-block;
					width: 14px;
					height: 7px;
				}
				.ch-top .controls a.edit:hover {
					opacity: 1;
				}
			.ch-top .controls a.pref {
					display: inline-block;
					margin-left: 7px;
					position: relative;
				}
				.ch-top .controls a.pref i {
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url("../img/sprite.png") no-repeat -156px -30px;
					position: relative;
					top:4px;
					opacity: 0.7;
				}
				.ch-top .controls a.pref:hover i {
					opacity: 1;
				}

.members-box {
	padding: 15px 0 25px;
	display: table;
	width: 100%;
	}	
	.members-box .box-title {
		padding: 5px 0 18px 0;
	}
	.members-box .box-title .inv {
		position: absolute;
		right: 116px;
		top: 1px;
	}
	.members-box .members {
		display: table-cell;
		padding-left: 25px;
		/*padding-right: 116px;*/
		}
		.members-box .members .pages {
			text-align: left;
			padding-top: 8px;
			padding-bottom: 0;			
		}
		.members-box .members .pages a {
			text-align: center;
		}
	.members-box .aplicants {
		display: table-cell;
		border-left: 1px solid #eaeaea;
		padding-left: 30px;
		width: 315px;
	}

	.person-list .person {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		width: 229px;
		-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
				box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		margin: 0 16px 19px 0;
		}
		.person-list .person .img {
			width: 68px;
			}
			.person-list .person .img {
				width: 68px;
				height: 68px;
			}
		.person-list .person .txt {
				padding: 0 12px 9px 12px;
			}
			.person-list .person .name {
				font-size: 16px;
				line-height: 20px;
				padding-top: 7px;
				color: #505050;
			}
			.person-list .person .allow {
				padding-top: 9px;
			}
			.person-list .person .allow .btn {
				height: 21px;
				line-height: 21px;
				padding-left: 15px;
				padding-right: 15px;
			}



.feed-box  {}
	.feed-box .box-title {
		padding-bottom: 8px;
	}
	.feed {
		width: 592px;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.feed .msg-box {
		width: 578px;
		margin-bottom: 5px;
		}
		.feed .msg-box .img {
			width: 43px;
			}
			.feed .msg-box .img img {
				width: 43px;
				height: 43px;
			}
		.feed .msg-box .txt {
			width: 515px;
			padding-top: 3px;
			font-size: 14px;
			line-height: 16px;
		}
		.feed .msg-box .txt a:hover {
			text-decoration: underline;
		}
		.feed .msg-box .msg {
			padding: 5px 0 0 0;
		}		
		.feed .msg-box .date {
			margin-top: 10px;
			font-size: 11px;
			line-height: 11px;
			color: #4e4e4e;
			}
			.feed .msg-box .date .y {
				display: inline-block;
				margin-right: 15px;
			}
			.feed .msg-box .date .t {
				display: inline-block;
			}
			.feed .msg-box .date span {
				display: inline-block;
				vertical-align: top;				
			}
			.feed .msg-box .date .br {
				padding: 0 3px;
			}
			.feed .msg-box .date i { 
				display: inline-block;
				height: 11px;
				width: 11px;
				background: url("../img/sprite.png") no-repeat 100px 100px transparent;
				opacity: 0.4;
				margin-right: 2px;
				vertical-align: top;
				position: relative;
			}
			.feed .msg-box .date .y i {
				background-position: -285px -3px;					
			}
			.feed .msg-box .date .t i {
				background-position: -285px -18px;				
				top:-1px;
			}

		.feed .post {
			margin-bottom: 18px;
			}
			.feed .post textarea {
				height: 48px;
				width: 499px;
				padding: 7px 7px;
				color: #505050;
				font-size: 13px;
				line-height: 16px;
				margin: 7px 0 10px 0;
				border: 1px solid #cfcfcf;
				-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
        		        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
				}
				.feed .post textarea::-webkit-input-placeholder { 
				    color:    #a9a9a9;
				    opacity: 1;
				    font-style: italic;
				}
				.feed .post textarea:-moz-placeholder {
				    color:    #a9a9a9;
				    opacity: 1;
				    font-style: italic;
				}
				.feed .post textarea::-moz-placeholder { 
				    color:    #a9a9a9;
				    opacity: 1;
				    font-style: italic;
				}
				.feed .post textarea:-ms-input-placeholder { 
				    color:    #a9a9a9;
				    opacity: 1;
				    font-style: italic;
				}
				.feed .post .submit {
					padding-bottom: 5px;
					text-align: right;
					}
					.feed .post .submit .btn {
						padding-left: 20px;
						padding-right: 20px;
						text-decoration: none !important;
					}
	.feed .hr {
		margin: 0px 0 17px 0;
		height: 1px;
		font-size: 0;
		line-height: 0;
		background: #e5e5e5;
		border-bottom: 1px solid #FFF;
	}	

	.feed .more {
		text-align: center;
		padding-top: 9px;
	}
		.feed .more a {
			position: relative;
			color: #505050;
			display: inline-block;
			padding: 0 0 0 32px;
			height: 22px;
			line-height: 22px;
			font-size: 12px;
		}
		.feed .more a i {
			display: block;
			width: 22px;
			height: 22px;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.2;
			background: url("../img/sprite.png") no-repeat -367px -46px;
			-webkit-transition: all 150ms ease-in-out;
			-moz-transition: all 150ms ease-in-out;
			-ms-transition: all 150ms ease-in-out;
			-o-transition: all 150ms ease-in-out;
			transition: all 150ms ease-in-out;
		}
		.feed .more a:hover {
			color: #474747
			}
			.feed .more a:hover i {
				opacity: 1;
				-webkit-transition: all 150ms ease-in-out;
				-moz-transition: all 150ms ease-in-out;
				-ms-transition: all 150ms ease-in-out;
				-o-transition: all 150ms ease-in-out;
				transition: all 150ms ease-in-out;
			}